@import "tailwindcss";

@theme {
  --color-eerie-black: #1F2722;
  --color-dark-green: #364D37;
  --color-rose-gold: #D3A88D;
  --color-off-white: #EDE2DB;
  --color-white-smoke: #F5F5F5;
      
}



body {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  border: 2px solid var(--color-rose-gold);
  padding: 10px;
  box-shadow: 2px;
  width: 300px;
  background-color: var(--color-rose-gold);
}

.card-outer {
  border-width: 2px;
  border-style: solid; 
  border-color: var(--color-rose-gold);
  padding: 2px;
}
